{% extends "base.html.twig" %}

{% block title %}Úkol 2{% endblock %}

{% block body %}
    <h2>Úkol 2</h2>
    <p>Vyhledat hvězdné lodě, které řídí pilot z planety</p>

    {{ form_start(form) }}
    {{ form_row(form.planet) }}
    <button type="submit">Zobrazit JSON</button>
    {{ form_end(form) }}
    {% if resultJson is not null %}
        <pre>{{ resultJson|raw }}</pre>
    {% endif %}
{% endblock %}
