{% extends "base.html.twig" %}

{% block title %}Úkol 2{% endblock %}

{% block body %}
    <h2>Úkol 2</h2>
    <p>Vyhledat hvězdné lodě, které řídí pilot z planety</p>

    <form action="/task2/result" method="POST" target="_blank">
        <label for="planet">Planeta:</label>
        <input type="text" id="planet" name="planet" value="Kashyyyk" placeholder="Zadejte jméno planety" required>
        <button type="submit">Zobrazit JSON v novém okně</button>
    </form>
{% endblock %}
